/* .container{
    width: 360px;
    margin: auto;
}
input{
    width: 100%;
    padding: 10px;
}
li{
    padding: 10px;
} */
/* 
body{
    transition: 0.3s;
} */

/* .answer{
    display: none;
} */


/* .box{
    height: 300px;
    width: 300px;
    border: 2px double black;
 background-color: aqua;
    border-radius: 2px;
} */


.para1{
    color: aliceblue;

}